body,html {
  display: flex;
  font-family: Courier;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
h2 {
  display: flex;
  justify-content: center;
}
p {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
b {

}
.entire-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-instructions {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.game-time {
  display: flex;
  width: 75%;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.circle-spacing {
  display: flex;
  justify-content: space-around;
}
.score-smile-spacing {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 15px;
}
.purple-words {
  color: #AE16A5;
}
.red-words {
  color: #FF0000;
}
/*
may not need to style, but definitely save for js
.hide-show {
}
*/
#purple-circle {
  background-color: #AE16A5;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
#red-circle {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
#score-keeper {
  background-color: #C7C7C7;
  height: 50px;
  width: 100px;
  align-self: center;
}
#happy-sad {
 font-weight: bold;
 font-size: 6em;
 text-align: center;
 margin-top: 15px;
 color: black;
}
